<div class="container">
  <div class="col-md-12">
    <h2 class="text-center h2A">LA DOMOTIQUE</h2>
    <p class="text-center">
      Qu’est ce que c’est ? En quoi va t’elle changer ma vie ?
    </p>
  </div>
  <div class="col-md-4 text-center atout">
    <i class="fa fa-lock" aria-hidden="true"></i>
    <br>
    <p class="tA">
      Sécurité
    </p>
    <p class="pA col-md-8 col-md-offset-2">
      Des centaines d’euros
      économisés
      grace à de simples ajustement
      automatisé
    </p>
  </div>
  <div class="col-md-4 text-center atout">
    <i class="fa fa-bolt" aria-hidden="true"></i>
    <p class="tA">
      Economies
    </p>
    <p class="col-md-8 col-md-offset-2 pA">
      Un service client à la hauteur
      de vos éspérences
      24h/24h
    </p>
  </div>
  <div class="col-md-4 text-center atout">
    <i class="fa fa-wifi" aria-hidden="true"></i>
    <p class="tA">
      Instalation
    </p>
    <p class="col-md-8 col-md-offset-2 pA">
      Une instalation de qualité
      garantie 1 ans
      pour tout problème
      contactez nous
    </p>
  </div>
</div>
