<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active row vertical-align">
      <h2 class="col-md-12 text-center vCh">
        <span class="h2Fk">Franklin</span> Domotique d'une main tout est automatique
      </h2>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item row vertical-align">
      <h2 class="col-md-12 text-center vCh">
        test 2
      </h2>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>
